#head{
    border: 5px solid red;
    border-style: dotted;

}
.container {
  display: flex;
  width: 100%;
  border: 1px solid black;
}

.image-container {
  height: 150px;
  width: 100%;
  border: 1px solid red;
  background-color: blue;
  justify-content: center;
  text-align: center;
}

.image-container P{
    border: 1px solid goldenrod;
    width: 50%;
    height: 100px;
    margin-left: 25%;
    background-color: brown;
}

.text-container {
  border: 1px solid black;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
